<div class="box">
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
          <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg"%>
      <table class="table">
      <tr>
      <th>name</th>
      <th><%= @user.name %></th>
      </tr>
      <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
      </tr>

      </table>

      <div class="row">
      <%= link_to edit_user_path, class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
      <% end %>
      </div>


      </table>
      <h2>New book</h2>
      <%= form_with model:@book, local:true do |f| %>
        <h4>Title</h4>
      <%= f.text_field :title %>
        <h4>Opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' , class: 'btn btn-success' %>
      <% end %>
    </div>


   <div class="col-md-8 offset-md-1">
     <table class="table table-hover table-inverse">
       <h2>Book detail</h2>
       <tbody>
         <tr>
           <td>
              <%= attachment_image_tag @book.user, :profile_image ,size: "40x40", farmat: 'jpg', fallback: "no_image.jpg" %>
              <%= link_to @book.user.name , user_path(@book.user.id)%>

           </td>
           <td>
             <%= link_to @book.title, book_path(@book) %>
           </td>
           <td>
             <%= @book.body %>
           </td>
           <td>
             <% if @book.user == current_user %>
             <%= link_to "Edit", edit_book_path(@book), class: "btn-success btn btn-sm" %>
             <% end %>
           </td>
           <td><% if @book.user == current_user %>
             <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか?"}, class: "btn-danger btn btn-sm "%>
             <% end %>
           </td>
         </tr>
       </tbody>

     </table>
   </div>
</div>
</div> 
</div>
